body {
  background-color: aquamarine;
  font-family: arial;
  text-align: center
}
a {
  background-color: powderblue;
  color: black;
  width: 300px;
  border: 2px solid green;
  padding: 10px;
  margin: 20px;
}
